# Eat Safe, Love

## Notebook Set Up

In [1]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint

In [2]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [3]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [4]:
# review the collections in our database
db.list_collection_names()

[]

In [5]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [6]:
# Find the establishments with a hygiene score of 20
query = {"rating": 20}

# Use count_documents to display the number of documents in the result
establishments.count_documents(query)


# Display the first document in the results using pprint
pprint(establishments.find_one(query))

None

In [7]:
# Convert the result to a Pandas DataFrame
import pandas as pd

# Display the number of rows in the DataFrame
establishments_df = pd.DataFrame(list(establishments.find()))
establishments_df.shape


# Display the first 10 rows of the DataFrame
establishments_df.head(10)

Empty DataFrame
Columns: []
Index: []

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [8]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query = {"local_authority_name": "London", "rating": {"$gte": 4}}

# Use count_documents to display the number of documents in the result
establishments.count_documents(query)

# Display the first document in the results using pprint
pprint(establishments.find_one(query))

None

In [9]:
# Convert the result to a Pandas DataFrame
import pandas as pd

# Display the number of rows in the DataFrame
establishments_df = pd.DataFrame(list(establishments.find(query)))
establishments_df.shape

# Display the first 10 rows of the DataFrame
establishments_df.head(10)

Empty DataFrame
Columns: []
Index: []

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [10]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

degree_search = 0.01
latitude = 51.5
longitude = 0.1

query = {"latitude": {"$gte": latitude - degree_search, "$lte": latitude + degree_search},
            "longitude": {"$gte": longitude - degree_search, "$lte": longitude + degree_search},
            "rating": 5}
sort = [("rating", -1)]

# Print the results
for establishment in establishments.find(query).sort(sort):
    pprint(establishment)

In [11]:
# Convert result to Pandas DataFrame
import pandas as pd

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [12]:
# Create a pipeline that:
# 1. Matches establishments with a hygiene score of 0
# 2. Groups the matches by Local Authority
# 3. Sorts the matches from highest to lowest
pipeline = [
    {"$match": {"rating": 0}},
    {"$group": {"_id": "$local_authority_name", "count": {"$sum": 1}}},
    {"$sort": {"count": -1}}
]

matches = list(establishments.aggregate(pipeline))

highest = matches[0]
lowest = matches[-1]

print(f"The local authority with the highest number of establishments with a hygiene score of 0 is {highest['_id']} with {highest['count']} establishments.")

# Print the number of documents in the result

# Print the first 10 results

IndexError: list index out of range

In [13]:
# Convert the result to a Pandas DataFrame
import pandas as pd

# Display the number of rows in the DataFrame
rows = pd.DataFrame(matches)
rows.shape

# Display the first 10 rows of the DataFrame

rows.head(10)

Empty DataFrame
Columns: []
Index: []